.home-container {
  display: flex;
}

.menu {
  width: 350px;
  padding: 20px;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-img {
  width: 50%;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-data-container {
  padding: 20px;
}
.cap {
  font-size: 17px;
}

.video-item-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
}
.banner-video-container {
  padding: 17px;
}

.get-button {
  border: 1px solid lightgray;
  cursor: pointer;
}
.search-container {
  margin-top: 15px;
}

.search-box {
  width: 300px;
  border-radius: 0px;
  color: #7e858e;
  border: none;
  border: 1px solid #7e858e;
}
.search-button {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #7e858e;
}
.x {
  align-self: flex-end;
}
.wrong {
  background-color: transparent;
}
.close {
  font-size: 20px;
}

.retry-button {
  background-color: #3b82f6;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .menu {
    display: none;
  }
}
