.nav-link {
  text-decoration: none;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 10px 10px 10px 10px #cbd5e1;
  height: 350px;
}
.dark {
  color: white;
  background-color: black;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.show-container {
  display: flex;
  align-items: center;
}
.box {
  padding: 10px;
  border: 1px solid #64748b;
  background-color: transparent;
  border-radius: 4px;
  outline: none;
}
.check {
  background-color: #3b82f6;
}

.login-button {
  padding: 12px;
  background-color: #3b82f6;

  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
}

.login-image {
  width: 278px;
  margin-bottom: 8px;
}

@media screen and (min-width: 992px) {
  .login-image {
    width: 50%;

    flex-shrink: 1;
    margin-right: 20px;
  }
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.error-message {
  align-self: start;

  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
  font-weight: 400;
}
